body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:336px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:158px;
  width:661px;
  height:335px;
}
#u1705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:279px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:200px;
  width:419px;
  height:278px;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:66px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:221px;
  width:172px;
  height:65px;
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:168px;
  word-wrap:break-word;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:66px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:221px;
  width:172px;
  height:65px;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:168px;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:66px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:312px;
  width:172px;
  height:65px;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:168px;
  word-wrap:break-word;
}
#u1710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:66px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:312px;
  width:172px;
  height:65px;
}
#u1710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:168px;
  word-wrap:break-word;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:66px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:399px;
  width:172px;
  height:65px;
}
#u1711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:168px;
  word-wrap:break-word;
}
#u1712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:279px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:200px;
  width:141px;
  height:278px;
}
#u1712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:80px;
  height:19px;
}
#u1713p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:76px;
  height:6px;
}
#u1713p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:8px;
}
#u1713p001 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1713p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1713p002 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:4px;
  height:2px;
}
#u1713p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:330px;
  width:70px;
  height:1px;
}
#u1713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:168px;
  width:124px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:49px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:59px;
  width:121px;
  height:48px;
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:117px;
  word-wrap:break-word;
}
#u1716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:49px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:59px;
  width:121px;
  height:48px;
}
#u1716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:117px;
  word-wrap:break-word;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:49px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:59px;
  width:121px;
  height:48px;
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:117px;
  word-wrap:break-word;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:61px;
}
#u1718p000 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:23px;
  width:58px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1718p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:60px;
  height:8px;
}
#u1718p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-7px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1718p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:24px;
  height:24px;
}
#u1718p002 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:51px;
  width:4px;
  height:4px;
}
#u1718p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:107px;
  width:1px;
  height:51px;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:61px;
}
#u1719p000 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:23px;
  width:58px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1719p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:60px;
  height:8px;
}
#u1719p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-7px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1719p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:24px;
  height:24px;
}
#u1719p002 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:51px;
  width:4px;
  height:4px;
}
#u1719p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:107px;
  width:1px;
  height:51px;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:61px;
}
#u1720p000 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:23px;
  width:58px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1720p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:60px;
  height:8px;
}
#u1720p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-7px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1720p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:24px;
  height:24px;
}
#u1720p002 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:51px;
  width:4px;
  height:4px;
}
#u1720p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:107px;
  width:1px;
  height:51px;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:49px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:59px;
  width:121px;
  height:48px;
}
#u1721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:117px;
  word-wrap:break-word;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:61px;
}
#u1722p000 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:23px;
  width:58px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1722p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:60px;
  height:8px;
}
#u1722p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-7px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1722p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:24px;
  height:24px;
}
#u1722p002 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:51px;
  width:4px;
  height:4px;
}
#u1722p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:107px;
  width:1px;
  height:51px;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:231px;
  width:57px;
  height:16px;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:275px;
  width:116px;
  height:39px;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:324px;
  width:116px;
  height:39px;
}
#u1725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u1726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:380px;
  width:116px;
  height:39px;
}
#u1726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
