body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1566px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:214px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:162px;
  width:104px;
  height:203px;
}
#u1117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:896px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:1282px;
  height:895px;
}
#u1118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1413px;
  height:2px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:163px;
  width:1412px;
  height:1px;
}
#u1119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:896px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:67px;
  width:1px;
  height:895px;
}
#u1120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:107px;
  width:137px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:106px;
  width:22px;
  height:27px;
}
#u1122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:112px;
  width:75px;
  height:16px;
}
#u1123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:500px;
  width:1049px;
  height:1px;
}
#u1124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:545px;
  width:1049px;
  height:1px;
}
#u1125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:209px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:519px;
  width:1px;
  height:16px;
}
#u1127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:519px;
  width:57px;
  height:16px;
}
#u1128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:519px;
  width:29px;
  height:16px;
}
#u1129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:565px;
  width:19px;
  height:16px;
}
#u1130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:884px;
  width:92px;
  height:27px;
}
#u1131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1131_input:disabled {
  color:grayText;
}
#u1132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:892px;
  width:55px;
  height:19px;
  font-size:16px;
}
#u1132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:892px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:890px;
  width:58px;
  height:26px;
}
#u1134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:893px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u1135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:885px;
  width:81px;
  height:34px;
  font-size:16px;
}
#u1136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:105px;
  width:40px;
  height:32px;
}
#u1137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:564px;
  width:1px;
  height:16px;
}
#u1138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:564px;
  width:29px;
  height:16px;
}
#u1139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:614px;
  width:19px;
  height:16px;
}
#u1140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:668px;
  width:19px;
  height:16px;
}
#u1141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:23px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:168px;
  width:192px;
  height:22px;
  font-size:18px;
}
#u1142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:521px;
  width:57px;
  height:16px;
}
#u1143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:520px;
  width:57px;
  height:16px;
}
#u1144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:565px;
  width:20px;
  height:16px;
}
#u1145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:615px;
  width:42px;
  height:16px;
}
#u1146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:519px;
  width:19px;
  height:18px;
}
#u1147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:38px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:900px;
  width:46px;
  height:37px;
}
#u1148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u1149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:908px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:34px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:274px;
  width:197px;
  height:31px;
}
#u1151_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1151_input:disabled {
  color:grayText;
}
#u1152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:274px;
  width:184px;
  height:31px;
}
#u1153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1153_input:disabled {
  color:grayText;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:274px;
  width:174px;
  height:31px;
}
#u1156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1156_input:disabled {
  color:grayText;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:367px;
  width:272px;
  height:37px;
}
#u1158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:341px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:378px;
  width:111px;
  height:16px;
}
#u1160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:378px;
  width:15px;
  height:16px;
}
#u1161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:378px;
  width:111px;
  height:16px;
}
#u1162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:367px;
  width:184px;
  height:37px;
  text-align:left;
}
#u1163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u1164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:341px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:362px;
  width:74px;
  height:40px;
}
#u1165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u1166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:374px;
  width:29px;
  height:16px;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:617px;
  width:19px;
  height:16px;
}
#u1167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:668px;
  width:19px;
  height:16px;
}
#u1168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:566px;
  width:111px;
  height:16px;
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:616px;
  width:111px;
  height:16px;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:670px;
  width:111px;
  height:16px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:669px;
  width:42px;
  height:16px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:519px;
  width:57px;
  height:16px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:564px;
  width:38px;
  height:16px;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:614px;
  width:44px;
  height:16px;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:519px;
  width:29px;
  height:16px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:564px;
  width:29px;
  height:16px;
  color:#0000CC;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:614px;
  width:29px;
  height:16px;
  color:#0000CC;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:668px;
  width:29px;
  height:16px;
  color:#0000CC;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:374px;
  width:29px;
  height:16px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:372px;
  width:27px;
  height:21px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:173px;
  width:77px;
  height:16px;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1182_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:196px;
  width:77px;
  height:16px;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1183_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:219px;
  width:77px;
  height:16px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1184_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:242px;
  width:77px;
  height:16px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1185_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:266px;
  width:77px;
  height:16px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1186_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:289px;
  width:77px;
  height:16px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1187_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:335px;
  width:77px;
  height:16px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1188_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:372px;
  width:0px;
  height:0px;
}
#u1189_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-58px;
  width:8px;
  height:58px;
}
#u1189_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-58px;
  width:482px;
  height:8px;
}
#u1189_seg2 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:-112px;
  width:8px;
  height:62px;
}
#u1189_seg3 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:-112px;
  width:16px;
  height:8px;
}
#u1189_seg4 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:-117px;
  width:19px;
  height:18px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:193px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:460px;
  width:72px;
  height:30px;
  font-size:16px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:464px;
  width:111px;
  height:22px;
  font-size:18px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:464px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:519px;
  width:21px;
  height:18px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:562px;
  width:21px;
  height:18px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:614px;
  width:21px;
  height:18px;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:666px;
  width:21px;
  height:18px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:520px;
  width:57px;
  height:16px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:520px;
  width:57px;
  height:16px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:565px;
  width:57px;
  height:16px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:615px;
  width:57px;
  height:16px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:669px;
  width:57px;
  height:16px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:17px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:566px;
  width:6px;
  height:16px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:615px;
  width:83px;
  height:16px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:666px;
  width:83px;
  height:16px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:668px;
  width:44px;
  height:16px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:312px;
  width:77px;
  height:16px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1206_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1237px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:519px;
  width:42px;
  height:16px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:564px;
  width:25px;
  height:16px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:616px;
  width:25px;
  height:16px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:667px;
  width:25px;
  height:16px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:352px;
  width:201px;
  height:48px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:363px;
  width:38px;
  height:30px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:366px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:400px;
  width:201px;
  height:48px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:412px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:496px;
  width:201px;
  height:48px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:508px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:544px;
  width:201px;
  height:48px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:556px;
  width:110px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:592px;
  width:201px;
  height:48px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:604px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:368px;
  width:21px;
  height:18px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:412px;
  width:21px;
  height:18px;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:208px;
  width:201px;
  height:48px;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:217px;
  width:38px;
  height:30px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:221px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:448px;
  width:201px;
  height:48px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:460px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:256px;
  width:201px;
  height:48px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:266px;
  width:38px;
  height:30px;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  word-wrap:break-word;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:269px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:269px;
  width:24px;
  height:22px;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:304px;
  width:201px;
  height:48px;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:314px;
  width:38px;
  height:30px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:317px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:317px;
  width:24px;
  height:22px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:241px;
  width:23px;
  height:23px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_ann {
  border-width:0px;
  position:absolute;
  left:354px;
  top:237px;
  width:1px;
  height:1px;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:39px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:267px;
  width:209px;
  height:38px;
  font-size:16px;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:505px;
  width:23px;
  height:23px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_ann {
  border-width:0px;
  position:absolute;
  left:450px;
  top:501px;
  width:1px;
  height:1px;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:88px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:1449px;
  top:553px;
  width:216px;
  height:77px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:564px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:1524px;
  top:599px;
  width:65px;
  height:27px;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:1591px;
  top:597px;
  width:57px;
  height:29px;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:580px;
  width:0px;
  height:0px;
}
#u1246_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:16px;
}
#u1246_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:8px;
  width:241px;
  height:8px;
}
#u1246_seg2 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:3px;
  width:19px;
  height:18px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:568px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:274px;
  width:184px;
  height:37px;
  text-align:left;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:302px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1010px;
  width:246px;
  height:301px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:242px;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:1013px;
  width:19px;
  height:21px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:684px;
  width:0px;
  height:0px;
}
#u1251_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:184px;
}
#u1251_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:176px;
  width:191px;
  height:8px;
}
#u1251_seg2 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:176px;
  width:8px;
  height:150px;
}
#u1251_seg3 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:313px;
  width:18px;
  height:19px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:971px;
  width:197px;
  height:19px;
  font-size:16px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:367px;
  width:184px;
  height:37px;
  text-align:left;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:341px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
