body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1566px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:214px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:162px;
  width:104px;
  height:203px;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1414px;
  height:896px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:66px;
  width:1413px;
  height:895px;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1413px;
  height:2px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:163px;
  width:1412px;
  height:1px;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:896px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:67px;
  width:1px;
  height:895px;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:107px;
  width:137px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:106px;
  width:22px;
  height:27px;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:112px;
  width:75px;
  height:16px;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:500px;
  width:1049px;
  height:1px;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:545px;
  width:1049px;
  height:1px;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:209px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:519px;
  width:1px;
  height:16px;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:519px;
  width:57px;
  height:16px;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:519px;
  width:29px;
  height:16px;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:565px;
  width:19px;
  height:16px;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:884px;
  width:92px;
  height:27px;
}
#u937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u937_input:disabled {
  color:grayText;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:892px;
  width:55px;
  height:19px;
  font-size:16px;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:892px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:890px;
  width:58px;
  height:26px;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:893px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:885px;
  width:81px;
  height:34px;
  font-size:16px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:105px;
  width:40px;
  height:32px;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:564px;
  width:1px;
  height:16px;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:564px;
  width:29px;
  height:16px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:614px;
  width:19px;
  height:16px;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:668px;
  width:19px;
  height:16px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:23px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:168px;
  width:192px;
  height:22px;
  font-size:18px;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:521px;
  width:57px;
  height:16px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:520px;
  width:57px;
  height:16px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:565px;
  width:20px;
  height:16px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:615px;
  width:42px;
  height:16px;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:519px;
  width:19px;
  height:18px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:38px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:900px;
  width:46px;
  height:37px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:908px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:34px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:274px;
  width:197px;
  height:31px;
}
#u957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u957_input:disabled {
  color:grayText;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:274px;
  width:184px;
  height:31px;
}
#u959_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u959_input:disabled {
  color:grayText;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:274px;
  width:174px;
  height:31px;
}
#u962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u962_input:disabled {
  color:grayText;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:367px;
  width:272px;
  height:37px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:341px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:378px;
  width:111px;
  height:16px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:378px;
  width:15px;
  height:16px;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:378px;
  width:111px;
  height:16px;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:367px;
  width:184px;
  height:37px;
  text-align:left;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:341px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:362px;
  width:74px;
  height:40px;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:374px;
  width:29px;
  height:16px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:617px;
  width:19px;
  height:16px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:668px;
  width:19px;
  height:16px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:566px;
  width:111px;
  height:16px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:616px;
  width:111px;
  height:16px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:670px;
  width:111px;
  height:16px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:669px;
  width:42px;
  height:16px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:519px;
  width:57px;
  height:16px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:564px;
  width:38px;
  height:16px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:614px;
  width:44px;
  height:16px;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:519px;
  width:29px;
  height:16px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:564px;
  width:29px;
  height:16px;
  color:#0000CC;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:614px;
  width:29px;
  height:16px;
  color:#0000CC;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:668px;
  width:29px;
  height:16px;
  color:#0000CC;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:374px;
  width:29px;
  height:16px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:372px;
  width:27px;
  height:21px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:173px;
  width:77px;
  height:16px;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u988_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:196px;
  width:77px;
  height:16px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u989_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:219px;
  width:77px;
  height:16px;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u990_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:242px;
  width:77px;
  height:16px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u991_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:266px;
  width:77px;
  height:16px;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u992_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:289px;
  width:77px;
  height:16px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u993_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:335px;
  width:77px;
  height:16px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u994_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:372px;
  width:0px;
  height:0px;
}
#u995_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-58px;
  width:8px;
  height:58px;
}
#u995_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-58px;
  width:482px;
  height:8px;
}
#u995_seg2 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:-112px;
  width:8px;
  height:62px;
}
#u995_seg3 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:-112px;
  width:16px;
  height:8px;
}
#u995_seg4 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:-117px;
  width:19px;
  height:18px;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:193px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:460px;
  width:72px;
  height:30px;
  font-size:16px;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:464px;
  width:111px;
  height:22px;
  font-size:18px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:464px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:519px;
  width:21px;
  height:18px;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:562px;
  width:21px;
  height:18px;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:614px;
  width:21px;
  height:18px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:666px;
  width:21px;
  height:18px;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:520px;
  width:57px;
  height:16px;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:520px;
  width:57px;
  height:16px;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:565px;
  width:57px;
  height:16px;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:615px;
  width:57px;
  height:16px;
}
#u1006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:669px;
  width:57px;
  height:16px;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:17px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:566px;
  width:6px;
  height:16px;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:615px;
  width:83px;
  height:16px;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:666px;
  width:83px;
  height:16px;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:668px;
  width:44px;
  height:16px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:312px;
  width:77px;
  height:16px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1012_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1237px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:519px;
  width:42px;
  height:16px;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:564px;
  width:25px;
  height:16px;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:616px;
  width:25px;
  height:16px;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:667px;
  width:25px;
  height:16px;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:304px;
  width:201px;
  height:48px;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:315px;
  width:38px;
  height:30px;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  word-wrap:break-word;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:318px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:352px;
  width:201px;
  height:48px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:364px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:448px;
  width:201px;
  height:48px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:460px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:496px;
  width:201px;
  height:48px;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:508px;
  width:110px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:544px;
  width:201px;
  height:48px;
}
#u1028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:556px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:320px;
  width:21px;
  height:18px;
}
#u1030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:364px;
  width:21px;
  height:18px;
}
#u1031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:208px;
  width:201px;
  height:48px;
}
#u1032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:217px;
  width:38px;
  height:30px;
}
#u1033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  word-wrap:break-word;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:221px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:400px;
  width:201px;
  height:48px;
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:412px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:256px;
  width:201px;
  height:48px;
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:266px;
  width:38px;
  height:30px;
}
#u1038_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  word-wrap:break-word;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:269px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:269px;
  width:24px;
  height:22px;
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:241px;
  width:23px;
  height:23px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_ann {
  border-width:0px;
  position:absolute;
  left:354px;
  top:237px;
  width:1px;
  height:1px;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:39px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:267px;
  width:209px;
  height:38px;
  font-size:16px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:505px;
  width:23px;
  height:23px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_ann {
  border-width:0px;
  position:absolute;
  left:450px;
  top:501px;
  width:1px;
  height:1px;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:88px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:1449px;
  top:553px;
  width:216px;
  height:77px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:564px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:1524px;
  top:599px;
  width:65px;
  height:27px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:1591px;
  top:597px;
  width:57px;
  height:29px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:580px;
  width:0px;
  height:0px;
}
#u1048_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:16px;
}
#u1048_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:8px;
  width:241px;
  height:8px;
}
#u1048_seg2 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:3px;
  width:19px;
  height:18px;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:568px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:274px;
  width:184px;
  height:37px;
  text-align:left;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:302px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1010px;
  width:246px;
  height:301px;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:242px;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:1013px;
  width:19px;
  height:21px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:684px;
  width:0px;
  height:0px;
}
#u1053_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:184px;
}
#u1053_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:176px;
  width:191px;
  height:8px;
}
#u1053_seg2 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:176px;
  width:8px;
  height:150px;
}
#u1053_seg3 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:313px;
  width:18px;
  height:19px;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:971px;
  width:197px;
  height:19px;
  font-size:16px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
