body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1566px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:214px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:162px;
  width:104px;
  height:203px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:896px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:1282px;
  height:895px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1413px;
  height:2px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:163px;
  width:1412px;
  height:1px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:896px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:67px;
  width:1px;
  height:895px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:107px;
  width:137px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:106px;
  width:22px;
  height:27px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:112px;
  width:75px;
  height:16px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:500px;
  width:1049px;
  height:1px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:545px;
  width:1049px;
  height:1px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:209px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:519px;
  width:1px;
  height:16px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:519px;
  width:57px;
  height:16px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:519px;
  width:29px;
  height:16px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:565px;
  width:19px;
  height:16px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:884px;
  width:92px;
  height:27px;
}
#u803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u803_input:disabled {
  color:grayText;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:892px;
  width:55px;
  height:19px;
  font-size:16px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:892px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:890px;
  width:58px;
  height:26px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:893px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:885px;
  width:81px;
  height:34px;
  font-size:16px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:105px;
  width:40px;
  height:32px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:564px;
  width:1px;
  height:16px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:564px;
  width:29px;
  height:16px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:614px;
  width:19px;
  height:16px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:668px;
  width:19px;
  height:16px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:23px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:168px;
  width:192px;
  height:22px;
  font-size:18px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:521px;
  width:57px;
  height:16px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:520px;
  width:57px;
  height:16px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:565px;
  width:20px;
  height:16px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:615px;
  width:42px;
  height:16px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:519px;
  width:19px;
  height:18px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:38px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:900px;
  width:46px;
  height:37px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:908px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:34px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:274px;
  width:197px;
  height:31px;
}
#u823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u823_input:disabled {
  color:grayText;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:274px;
  width:184px;
  height:31px;
}
#u825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u825_input:disabled {
  color:grayText;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:274px;
  width:174px;
  height:31px;
}
#u828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u828_input:disabled {
  color:grayText;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:245px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:367px;
  width:272px;
  height:37px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:341px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:378px;
  width:111px;
  height:16px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:378px;
  width:15px;
  height:16px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:378px;
  width:111px;
  height:16px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:367px;
  width:184px;
  height:37px;
  text-align:left;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:341px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:362px;
  width:74px;
  height:40px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:374px;
  width:29px;
  height:16px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:617px;
  width:19px;
  height:16px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:668px;
  width:19px;
  height:16px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:566px;
  width:111px;
  height:16px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:616px;
  width:111px;
  height:16px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:670px;
  width:111px;
  height:16px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:669px;
  width:42px;
  height:16px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:519px;
  width:57px;
  height:16px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:564px;
  width:38px;
  height:16px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:614px;
  width:44px;
  height:16px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:519px;
  width:29px;
  height:16px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:564px;
  width:29px;
  height:16px;
  color:#0000CC;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:614px;
  width:29px;
  height:16px;
  color:#0000CC;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:668px;
  width:29px;
  height:16px;
  color:#0000CC;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:374px;
  width:29px;
  height:16px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:372px;
  width:27px;
  height:21px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:173px;
  width:77px;
  height:16px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u854_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:196px;
  width:77px;
  height:16px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u855_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:219px;
  width:77px;
  height:16px;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u856_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:242px;
  width:77px;
  height:16px;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u857_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:266px;
  width:77px;
  height:16px;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u858_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:289px;
  width:77px;
  height:16px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u859_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:335px;
  width:77px;
  height:16px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u860_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:372px;
  width:0px;
  height:0px;
}
#u861_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-58px;
  width:8px;
  height:58px;
}
#u861_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-58px;
  width:482px;
  height:8px;
}
#u861_seg2 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:-112px;
  width:8px;
  height:62px;
}
#u861_seg3 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:-112px;
  width:16px;
  height:8px;
}
#u861_seg4 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:-117px;
  width:19px;
  height:18px;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:193px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:460px;
  width:72px;
  height:30px;
  font-size:16px;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:464px;
  width:111px;
  height:22px;
  font-size:18px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:464px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:519px;
  width:21px;
  height:18px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:562px;
  width:21px;
  height:18px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:614px;
  width:21px;
  height:18px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:666px;
  width:21px;
  height:18px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:520px;
  width:57px;
  height:16px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:520px;
  width:57px;
  height:16px;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:565px;
  width:57px;
  height:16px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:615px;
  width:57px;
  height:16px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:669px;
  width:57px;
  height:16px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:17px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:566px;
  width:6px;
  height:16px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:615px;
  width:83px;
  height:16px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:666px;
  width:83px;
  height:16px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:668px;
  width:44px;
  height:16px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:312px;
  width:77px;
  height:16px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u878_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1237px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:519px;
  width:42px;
  height:16px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:564px;
  width:25px;
  height:16px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:616px;
  width:25px;
  height:16px;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:667px;
  width:25px;
  height:16px;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:304px;
  width:201px;
  height:48px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:315px;
  width:38px;
  height:30px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:318px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:352px;
  width:201px;
  height:48px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:364px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:448px;
  width:201px;
  height:48px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:460px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:496px;
  width:201px;
  height:48px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:508px;
  width:110px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:544px;
  width:201px;
  height:48px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:556px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:320px;
  width:21px;
  height:18px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:364px;
  width:21px;
  height:18px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:208px;
  width:201px;
  height:48px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:217px;
  width:38px;
  height:30px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:221px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:400px;
  width:201px;
  height:48px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:412px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:49px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:256px;
  width:201px;
  height:48px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:266px;
  width:38px;
  height:30px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:269px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:269px;
  width:24px;
  height:22px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:241px;
  width:23px;
  height:23px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_ann {
  border-width:0px;
  position:absolute;
  left:354px;
  top:237px;
  width:1px;
  height:1px;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:39px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:267px;
  width:209px;
  height:38px;
  font-size:16px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:505px;
  width:23px;
  height:23px;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_ann {
  border-width:0px;
  position:absolute;
  left:450px;
  top:501px;
  width:1px;
  height:1px;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:88px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:1449px;
  top:553px;
  width:216px;
  height:77px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:564px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:1524px;
  top:599px;
  width:65px;
  height:27px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:1591px;
  top:597px;
  width:57px;
  height:29px;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:580px;
  width:0px;
  height:0px;
}
#u914_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:16px;
}
#u914_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:8px;
  width:241px;
  height:8px;
}
#u914_seg2 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:3px;
  width:19px;
  height:18px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:568px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:274px;
  width:184px;
  height:37px;
  text-align:left;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:302px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1010px;
  width:246px;
  height:301px;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:242px;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:1013px;
  width:19px;
  height:21px;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:684px;
  width:0px;
  height:0px;
}
#u919_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:184px;
}
#u919_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:176px;
  width:191px;
  height:8px;
}
#u919_seg2 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:176px;
  width:8px;
  height:150px;
}
#u919_seg3 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:313px;
  width:18px;
  height:19px;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:971px;
  width:197px;
  height:19px;
  font-size:16px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:367px;
  width:184px;
  height:37px;
  text-align:left;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:341px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
